<div class="card" style="width: 25rem;">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class ="card-body">
        <div class="container">
            <form [formGroup]="createaccountForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userNameId">User name</label>
                    <div class="col">
                        <input class="form-control" id="userNameId" type="text" placeholder="username (required)"
                            formControlName="userName"
                            [ngClass]="{'is-invalid': submitted && createaccountForm.get('userName').errors }" />
                        <span class="invalid-feedback">
                            <span *ngIf=" submitted && createaccountForm.get('userName').errors?.required">
                                Please enter your username name.
                            </span>
                            <span *ngIf=" submitted && createaccountForm.get('userName').errors?.minlength">
                                The user name must be longer than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="emailId">User name</label>
                    <div class="col">
                        <input class="form-control" id="emailId" type="email" placeholder="email (required)"
                            formControlName="email"
                            [ngClass]="{'is-invalid': submitted && createaccountForm.get('email').errors}" />
                        <span class="invalid-feedback">
                            <span *ngIf="  submitted && createaccountForm.get('email').errors?.required">
                                Please enter your email.
                            </span>
                            <span *ngIf=" submitted && createaccountForm.get('email').errors?.email">
                                Plaease Enter vaild email.
                            </span>
                        </span>
                    </div>
                </div>

                <div formGroupName="passwordGroup">
                    <div class="form-group ">
                        <label for="passwordId">Password</label>
                        <div class="col">
                            <input class="form-control" id="passwordId" type="password"
                                placeholder="password (required)" formControlName="password" />
                            <span class="invalid-feedback">
                                <span *ngIf=" submitted && createaccountForm.get('passwordGroup.password').errors?.required">
                                    Please enter your password.
                                </span>
                            </span>

                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="confirmPasswordId">Confirm Password</label>
                        <div class="col">
                            <input class="form-control" id="confirmPasswordId" type="password"
                                placeholder="Confirm password (required)" formControlName="confirmPassword"
                                [ngClass]="{'is-invalid':submitted && createaccountForm.get('passwordGroup.confirmPassword').errors}" />
                            <span class="invalid-feedback">
                                <span *ngIf=" submitted && createaccountForm.get('passwordGroup.confirmPassword').errors?.required">
                                    Please confirm your password.
                                </span>
                                <span *ngIf=" submitted && createaccountForm.get('passwordGroup.confirmPassword').errors?.match">
                                    The confirmation does not match the password.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox"
                     formControlName="acceptTerms" 
                     id="acceptTerms" 
                     class="form-check-input" 
                     [ngClass]="{ 'is-invalid':  submitted && createaccountForm.get('acceptTerms').errors}" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="createaccountForm.get('acceptTerms').errors?. Validators.pattern('false')">
                        Please Accept Terms & Conditions.
                    </div>
                </div>

                <div class="btn-toolbar ">
                    <button class="btn btn-primary mr-1">Register</button>
                   <button class="btn btn-secondary" (click)='onBack()'> Cancel </button>
                </div>

            </form>
        </div>
    </div>
</div>
