.nav-link{
    text-emphasis-color: black;
}
.container{
    width: auto;
    /* margin-right: 10px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
   */
}
.navbar-custom {
    
    background-color: #a3cbdb;
}
.navbar-custom-bootom{
    background-color: #a3cbdb;

}